/*.card-img-top {
  height: 55%;
  object-fit: cover;
}

.card {
  height: 35rem;
}*/

.text-title-character, .text-title-planets, .text-title-vehicles{
  color: #ffffff;
}

.card-header{
  height: 25%;
}

.img-tatooin{
  width: 133%;
  margin-left: -50px;
  
}